.packet-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.packet-header {
  background-color: var(--ion-color-warning);
  font-weight: bold;
  color: black;
}

.packet-header > ion-col {
  padding: 10px;
  text-align: left;
}

.packet-row {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.packet-row:hover {
  background-color: #f0f0f0;
}

.packet-row > ion-col {
  padding: 10px;
  text-align: left;
}

.empty-message {
  text-align: center;
  font-style: italic;
  color: gray;
  margin-top: 20px;
}